.profile {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 375px) {
  .profile {
    flex-direction: column;
  }

  .clothes-section__cards-container {
    display: grid;
    grid-template-columns: auto auto;
    overflow: auto;
    justify-content: space-between;
  }

  .card {
    width: 164px;
    height: 164px;
  }
}
