.header {
  display: flex;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
  width: 89px;
  height: 40px;
  align-items: center;
  /* padding-top: 11px;
  padding-bottom: 8px; */
  /* review this part */
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: center;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: #f3f3f3;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.header__username {
  margin: 0;
}

.header__profile-link {
  text-decoration: none;
  color: black;
}

.header__hamburger-btn {
  display: none;
}

.header__user-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__auth-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f3f3f3;
}

.header__register-btn {
  padding-left: 20px;
  border: none;
  cursor: pointer;
  background-color: #f3f3f3;
  line-height: 24px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__login-btn {
  border: none;
  cursor: pointer;
  background-color: #f3f3f3;
  line-height: 24px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: black;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 375px) {
  .header__add-clothes-btn {
    display: none;
  }

  .header__logo {
    margin-right: 10px;
  }

  .header__profile-link {
    display: none;
  }

  .header__date-and-location {
    font-size: 16px;
    font-weight: 700;
    align-self: center;
    margin-right: 53px;
  }

  .header__hamburger-btn {
    display: block;
    display: flex;
    width: 44px;
    height: 44px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
  }

  .hamburger__icon {
    width: 24px;
    height: 24px;
    margin: auto;
  }
}
