.modal__image {
  width: 100%;
}

.modal__close {
  border: none;
  background: none;
  cursor: pointer;
}

.modal__close-icon {
  background: none;
}

.modal__content.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.modal__content.modal__content_type_image .modal__footer {
  padding: 20px 32px 32px 32px;
}

.modal__delete-button {
  background-color: white;
  color: red;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.modal__caption {
  margin: 0;
}
