.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 85px;
  font-family: cabinet grotesk, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
